//colors
$col-primary: #27232E;
$col-primary-medium: #2B2732;
$col-primary-light: #524E5B;


$col-secondary-light: #B3E4A4;
$col-secondary-medium: #7CB46A;
$col-secondary-dark: #5A8B4B;

$col-tertiary-light: #968FA2;
$col-tertiary-dark: #4E4957;

$col-white: #DBD2E6;
$col-black: #151319;

$col-yellow: #F69D20;
$col-pink: #F54DB1;

//font sizs
$default-font-size: 1.6rem;

$FontFam-Libre: 'Libre Baskerville', serif;
$FontFam-Lato: 'Lato', sans-serif;

//vals
$borderRad: 3px;
